{{#partial "content"}}

<div class="Engineer-content container">
    <h1 class="Engineer-heading"> ENGINEERS</h1>
    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>

            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        {{#each Engineer}}
        <tr>

            <td>{{firstName}}</td>
            <td>{{secondName}}</td>
            <td>{{email}}</td>
            <td>
                <a  class="btn btn-primary btn-sm" href="Engineer/{{id}}">View</a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
<!--    <a class="btn btn-outline-light nav-item" href="/Engineer/new"> NEW ENGINEERS </a>-->

    <a href="/Engineer/{{id}}/site/new">Add a new Site</a>
    <a href="/Engineer">All Engineers</a>
</div>

{{/partial}}

{{> layout.hbs}}
