{{#partial "content"}}

<div class="card mb-3 text-center" style="color: black">
    <div class="row no-gutters">
        <div class="col-md-4" style="background: #DCDCDC; padding:3rem">
            <i class="far fa-user fa-7x"></i>
            <h2> Belongs to: {{firstName}}{{secondName}} Engineer.</h2>
            <h1>{{ site_name }}{{county}}</h1>

            <h2> Edit site</h2>

            <form action="/Engineer/{{id}}/Sites/{{id}}" method="post">
                <label for="site_name">Site Name</label>
                <input id="site_name" name="site_name" type="text">
                <label for="county">County Name</label>
                <input id="county" name="county" type="text">
                <button type="submit" class="btn btn-info">Update Site</button>
            </form>
            <form action="/Engineer/{{id}}/Sites/{{site.id}}/delete" method="post">
                <button type="submit" class="btn btn-danger" id="delete-Site">Delete Site</button>
            </form>

            <a href="/Engineer/{{id}}"> Return to "site"{{site_name}}</a>"
            <form action="/Site/{{id}}/delete" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="/Site/{{id}}/edit" class="btn btn-outline-success">Edit</a>
            </form>
        </div>

        <div class="col-md-8" style="padding:3rem">
            <div class="card-body">
                <h2 class="card-title">Details</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-envelope-open"></i> Site Name: {{site_name}}</li>
                    <li class="list-group-item"><i class="fas fa-female"></i> Site County: {{county}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{/partial}}
{{>layout.hbs}}